<div class="container-fluid" style="opacity:0.9">
    <div class="row text-center bg-dark text-light pb-4 pr-0 pl-0 mr-0 ml-0">
        <div class="col-md-4 col-sm-12 mt-4">
            <div class="col-md-12">
                <strong>Contacto</strong>
            </div>
            <div class="col-md-12 my-3" >
                <img src="../../../assets/img/localizacion.png" alt="Logo Ubicacion" style="height: 30px; margin-right: 10px;"><a href="https://www.google.com/maps/dir//CUL+CORPORACION+UNIVERSITARIA+LATINOAMERICANA,+Cl.+58+%2355+-+24+A,+Barranquilla,+Atl%C3%A1ntico/@10.9948297,-74.7929449,17z/data=!4m8!4m7!1m0!1m5!1m1!1s0x8ef42d79e57e00e7:0x3b195f6bb10f7ede!2m2!1d-74.7907562!2d10.9948244?hl=es" class="text-white"> Calle 58 # 55 - 24A  Barranquilla - Colombia</a>
            </div>
            <div class="col-md-12 my-2" >
                <img src="../../../assets/img/smartphone.png" alt="Logo Ubicacion" style="height: 30px; margin-right: 10px;"><strong>Celular: </strong> (+57) 314 7644802 
            </div>
            <div class="col-md-12 mt-4">
                <img src="../../../assets/img/sobre.png" alt="Correo" style="height: 30px; margin-right: 10px; ">
                <a href="mailto:?Subject=PETICION, PQR"class="text-white">Escribenos!</a>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 mt-4">
            <div class="col-md-12 my-2"><strong> ENLACE DE INTERÉS</strong></div>
                <a href="https://ul.edu.co/uleduco/images/pdf/Directorio_CUL_2020.pdf" class="text-white">Directorio</a>
            <div class="col-md-12 my-2">
                <a href="https://ul.edu.co/uleduco/cul/normatividad/item/15.html" class="text-white">Ley de Protección de Datos</a>     
            </div>
            <div class="col-md-12 my-2">
                <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=veYLdDb9DkeU2Q8Md3-tueCphMPbNeZGguT8L9azrodUQ1IyTTVNWTVTUjIxUzdDS1pKSU9YOE4xVy4u"class="text-white">Asesoria Psicologica</a>
            </div>
            <div class="col-md-12 my-2 mt-4">
                <img src="../../../assets/img/whatsapp.png" alt="Correo" style="height: 30px; margin-right: 10px; ">
                <a href="https://wa.me/+573147644802"class="text-white">Chatiemos</a>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 mt-4">
            <div class="col-md-12 my-2">
                <strong> OFERTA ACADÉMICA</strong>
            </div>
            <div class="col-md-12 my-2">
                <a href="https://ul.edu.co/uleduco/component/k2/item/184.html"class="text-white">Profesionales</a>
            </div>
            <div class="col-md-12 my-2">
                <a href="https://ul.edu.co/uleduco/component/k2/item/158.html"class="text-white">Tecnológicos</a>
            </div>
            <div class="col-md-12 my-2">
                <a href="https://ul.edu.co/uleduco/component/k2/item/32.html"class="text-white">Ciclos propedéuticos</a> 
            </div>
            <div class="col-md-12 my-2 mt-4">
                <img src="../../../assets/img/instagram.png" alt="Instagram" style="height: 30px; margin-right: 10px; ">
                <a href="https://www.instagram.com/?hl=es-la"class="text-white"> Siguenos!</a>
            </div>
        </div>
        <div class="col-md-12 text-center my-4">
            <h4><strong>VIGILADA MINEDUCACIÓN</strong></h4>
            <h5> Personería Jurídica: Resolución 8103 del 19 de diciembre 2006</h5>
            
            <h6> © 2020 CORPORACIÓN UNIVERSITARIA LATINOAMERICANA - CUL</h6>
        </div>
    </div>
</div>

