<app-menu></app-menu>
<app-header></app-header>
<div class="container">
    <form [formGroup]="myFormLogin">
        <div class="img-fluid d-flex justify-content-center centrar" id="LoginCover">
            <div class="bg-white d-flex align-items-center loginbox">
                <div class="row text-center d-flex justify-content-center big">
                    <div class="form-floating col-md-8 mt-3">
                        <input id="inpUsuario" type="text" formControlName="inpUsuario" class="form-control" placeholder="Usuario">
                        <label for="inpUsuario">Usuario</label>
                    </div>
                    <div class="form-floating col-md-8 mt-3">
                        <input type="password" class="form-control" formControlName="inpPassword" placeholder="Contraseña">
                        <label for="inpPassword">Contraseña</label><br>
                    </div>
                    <div class="form-group col-md-12">
                        <button type="button" class="btn btn-outline-primary mx-2 mb-3">Aceptar</button>
                        <button type="submit" (click)="login(myFormLogin.value)" class="btn btn-outline-warning mx-2 mb-3">Cancelar</button><br>
                        <a href="#">¿ha olvidado su contraseña? click aquí!</a><br>
                        <a routerLink="../registro">¿no tienes una cuenta? registrate!</a><br>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<app-footer></app-footer>