.loginbox{
    width: 450px; 
    height:450px; 
    border-radius:25px; 
    opacity:0.7; 
    background-color: transparent;
    margin-top: 55px;
    margin-bottom:55px; 
}
.centrar{
    align-items:center;
}
.big{
    font-size: 20px;
}

