<div class="container  my-4 " style="opacity:0.9;">
    <div class="row justify-content-center ">
        <div class="col-md-12 text-center my-3">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/EFLcEh9DM9w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-md-5 bg-light text-center rounded p-5 my-3 mx-2">
            <h2>La importancia de la educación superior</h2>
            <p style="text-align:justify"> Hace siglos que las instituciones de educación superior juegan un rol clave en la sociedad desde su misión central enfocada en la educación, la investigación y extensión. Desde edades tempranas he tenido la fortuna de visitar estas organizaciones y siempre me impactó su grandeza, los laboratorios habitados por personajes misteriosos, los espacios cubiertos de libros y aulas repletas de seres atentos a todos los detalles de una persona hablando por veces durante horas. Pero como muchas otras organizaciones y sectores, han tenido que adaptarse a retos tecnológicos, sociales y políticos durante las últimas décadas. La pandemia puede haber acelerado el despliegue de metodologías de enseñanza y aprendizaje remotos, pero el sector educativo lleva muchos años enfrentando desafíos asociados a la demanda del mercado, tecnología, digitalización e incluso su propio modelo de negocio.

                Para darles algunos ejemplos, varias universidades en el mundo han estado avanzando en temas de enseñanza a distancia y los MOOC (del inglés, cursos masivos abiertos en línea) hace al menos más de una década; de hecho, 2012 fue considerado “el año de los MOOC”. La Universidad de Stanford, una de las mejores universidades del mundo desde los EE.UU., lanzó sus primeros cursos en línea de inteligencia artificial y robótica en 2011... El aprendizaje en ambientes presenciales y virtuales, llegó para quedarse, y debemos como personas y organizaciones encontrar ese equilibrio tan importante para no agotar a los diferentes intervinientes.
            </p>
        </div>
        <div class="col-md-6 bg-light rounded my-3 mx-2">
            <h2 class="text-center mt-5">Cinco razones para estudiar con Nosotros🔥</h2>
            <h5>✅ Aprende haciendo </h5>
            <p style="text-align:justify">Con nuestro modelo educativo enfocado hacia la práctica, desde el primer semestre tendrás las mejores herramientas para enfrentarte a la realidad laboral. Como estudiante aprendes en ambientes reales y simulados que te acercan a la realidad del programa académico.</p>
            <h5>✅ Si quieres viajar, tenemos una beca y convenios de cooperación internacional</h5>
            <p style="text-align:justify">
                Queremos que vivas una experiencia internacional. Tenemos más de 157 convenios en todo el mundo que te darán la posibilidad de vivir un año de intercambio. Además, podrás recibir un auxilio de más de 4 millones de pesos para tu movilidad. 
            </p>
            <h5>✅ Tienes la oportunidad de realizar una movilidad nacional </h5>
            <p style="text-align:justify">
                Somos la Universidad con mayor presencia en territorios, nuestros estudiantes tienen la posibilidad de mudarse de ciudad para continuar sus estudios en cualquiera de nuestros 16 campus sin perder dinero y semestres en procesos de homologación. Consulta aquí en qué otras ciudades está tu programa para realizar una movilidad nacional.
            </p>
            <h5>✅ Premiamos a los mejores </h5>
            <p style="text-align:justify">
                Reconocemos el esfuerzo de aquellos que, con sus calificaciones o destrezas deportivas, artísticas y culturales eligen dar lo mejor. Entregamos estímulos que se traducen en descuentos que van desde el 20% hasta el 90% del valor de su matrícula.
            </p>
            <h5>✅ Infraestructura tecnológica que garantiza calidad académica </h5>
            <p style="text-align:justify">¡En la crisis se conoce el liderazgo! Cuando muchas universidades pensaban cómo enfrentar el reto tecnológico que supuso la llegada del Coronavirus, la Universidad recibía un reconocimiento de Microsoft que la acreditó como una de las diez universidades en Latinoamérica con mejor implementación de TEAMS.
                Cuando se trata de elegir Universidad, busca que te garantice seguir estudiando en medio de este contexto que vivimos.
            </p>
        </div>
    </div>
</div>

<div class="elementor-widget-container text-center"> 
    <div id="socialIcon" style="background-color: white;">
        <ul style="list-style: none; opacity:1px !important; padding-left: 0px;">
            <a href="https://www.instagram.com/explore/locations/244020009/corporacion-universitaria-latinoamericana-ies/"><li><i class="fab fa-instagram" style="font-size: 60px; color: rgb(206, 77, 178);"></i></li></a>
            <a href="https://www.facebook.com/culbarranquilla"><li><i class="fab fa-facebook-square"style="font-size: 60px; color:light-blue;"></i></li></a>	
            <a href="https://www.youtube.com/watch?v=xZ1dSNGHo64"><li><i class="fab fa-youtube"style="font-size: 60px;color:red;"></i></li></a>	
            <a href="https://twitter.com/culbarranquilla"><li><i class="fab fa-twitter-square"style="font-size: 60px;color:blue;"></i></li></a>	
        </ul>
    </div>
</div>

